{{>header}}
<div class="container-fluid">
      
      <!-- main-->
  <div>
    <div class="col-md-4">
        <h1>Add a Product</h1>
        <form action="/admin/products" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="product_name">Product Name</label>
            <input type="text" placeholder="Product Name" class = "form-control" name="product_name"><br>
          </div>
          <div class="form-group">
            <label for="brand" >Product Brand</label>
            <input type="text" placeholder="Brand"  class ="form-control" name="brand">
          </div>
          <div class="form-group">
            <label for="category" >Category</label>
            <select name="category" class="form-control">
              <option value="0">Select Category</option>
              <option name="Mobile" value="Mobile">Mobile</option>
              <option name="Tablet" value="Tablet">Tablet</option>
              <option name="Watch" value="Watch">Watch</option>
              <option name="Laptop" value="Laptop">Laptop</option>
            </select>
          </div>
          <div class="form-group">
            <label for="discription" >Discription</label>
            <textarea name="discription" placeholder="Product Discription Needed" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="slug" >Slug</label>
            <input type="text" class ="form-control" name="slug"  placeholder="Slug should be unique">
          </div>
          <div class="form-group">
            <label for="image of product" ></label>
            <input type="file" name="image" /><br>
            <input class="btn btn-default" type="submit" name="submit">
          </div>
          <br>
          <br>
      </div>
    </form>
  </div> <!--row-->
</div> <!-- container -->
{{>footer}}