{{>header}}

<div  id="all_products">

  <div>
    <!-- All products -->

    <table class="table table-inverse">
      <thead>
        <tr>
        
          <th>Product Name</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Ram</th>
          <th>Display Resolution</th>
          <th>Colors available</th>
          <th>Cellular</th>
          <th>Sensors</th>
          <th>Battery Size</th>
          <th>Colors available</th>
          <th>Minimum Price</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Rs.Sample</td>
        </tr>
        <tr>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Rs. Sample</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
{{>footer}}