{{>header}}

<div class="container-fluid">
	
	<div class="col-md-4">
		<div>
			<h1>Add a Product</h1>
				<div class="form-group">
					<label for="page name">Page Name</label>
	         		<input type="text" placeholder="Page Name" class = "form-control" name="page_name"><br>
        		</div>
        		<div class="form-group">
        			<label for="page title">Page title</label>
					<input type="text" class ="form-control" placeholder="Page Title" name="page_title">
        		</div>
        		<div>
        			<input class="btn btn-default" type="submit" name="submit">
        		</div>
		</div>
	</div> <!-- row -->
	
</div> <!-- container -->


{{>footer}}