{{>header}}
<div  id="all_products">

  <div>
    <!-- All Pages -->

    <table class="table table-inverse col-md-10"">
      <thead>
        <tr>
          <th>{{th_name}}</th>
          <th>{{th_title}}</th>
          <th>{{th_slug}}</th>
        </tr>
      </thead>
      <tbody id="page_data">
      </tbody>
    </table>

  </div>

</div>
{{>footer}}