<%- contentFor('content') %>
<!-- signup -->
<div class="form_login col-md-4 col-md-offset-4">
    <form action="/auth/signup" method="post"> 
    <div class="form-group">
      <label for="signup">SignUp</label>
      <label for="email">Email:</label>
      <input class="form-control" id="userName" name="userName" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input class="form-control" name="password" id="password" placeholder="Enter password">
    </div>
    <div class="checkbox col-md-offset-4">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default col-md-offset-5">Submit</button>
  </form>
</div>

<!-- signin below -->

<div class="form_login col-md-4 col-md-offset-4">
    <form action="/auth/signin" method="post"> 
    <div class="form-group">
      <label for="Signin">Signin</label>
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox col-md-offset-4">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default col-md-offset-5">Submit</button>
  </form>
  <br>
  <br>
</div>